includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludePaths:
        - tests/temp/*

    shipmonkRules:
        forbidCheckedExceptionInCallable:
            immediatelyCalledCallables:
                'NepadaTests\MessageBusDoctrine\Middleware\ClearEntityManagerMiddlewareTest::runInClearEntityManagerMiddleware': 0
                'NepadaTests\MessageBusDoctrine\Middleware\TransactionMiddlewareTest::runInTransactionMiddleware': 0
