includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\InvalidStateException

    ignoreErrors:
        - # false positive
            path: src/MessageBusDoctrine/Middleware/TransactionMiddleware.php
            message: "#^Dead catch - Throwable is never thrown in the try block\\.$#"
            count: 1
        - # false positive
            path: src/MessageBusDoctrine/Middleware/ClearEntityManagerMiddleware.php
            message: "#^Dead catch - Throwable is never thrown in the try block\\.$#"
            count: 1
        - # false positive
            path: src/MessageBusDoctrine/Middleware/ClearEntityManagerMiddleware.php
            message: "#^Property Nepada\\\\MessageBusDoctrine\\\\Middleware\\\\ClearEntityManagerMiddleware\\:\\:\\$clearOnError is never read, only written\\.$#"
            count: 1
